@charset "UTF-8";
/* 페이지별 css. 이부분부터는 수정시 해당페이지에서만 변경됩니다. */
html.default-theme {
  --primx-color: var(--primx-color, #29235C);
  --top-color: var(--top-color, #29235C);
  --left-color: var(--left-color, #e1e4e9);
  --active-color: var(--active-color, rgba(255, 255, 255, 0.3803921569));
  --home-color: var(--home-color, #f5f5f5);
  --button-color: var(--button-color, #899bcf);
  --hover-color: var(--hover-color, #9dafe5);
  --login-lang-color: var(--login-lang-color, #d2dae8);
  --pop-bg-color: var(--pop-bg-color, #f5f5f5);
  --pop-head-color: var(--pop-head-color, #d2dae8);
  --border-color: var(--border-color, #cbcbcb);
  --border-active-color: var(--border-active-color, #bbb);
  --input-txt-bg-color: var(--input-txt-bg-color, #f3f5f9);
  --em-color: var(--em-color, #d2dae8);
  --tab-color: var(--tab-color, #d8d8d8);
  --tab-active-color: var(--tab-active-color, #f0f0f0);
  --tooltip-color: var(--tooltip-color, rgba(53, 47, 101, 0.2588235294));
  --disable-bg-color: var(--disable-bg-color, #dedede);
  --disable-font-color: var(--disable-font-color, #949494);
  --search-bg-color: var(--search-bg-color, rgba(210, 218, 232, 0.5019607843));
  --search-item-color: var(--search-item-color, rgba(255, 255, 255, 0.6196078431));
  --white-color: var(--white-color, #fff);
  --black-color: var(--black-color, #000);
  --pager-select-color: var(--pager-select-color, #29235C);
  --table-top-border: var(--table-top-border, #979797);
  --table-tr-td-border: var(--table-tr-td-border, #858585);
  --table-head-bg-color: var(--table-head-bg-color, #d2dae8);
  --table-body-bg-color: var(--table-body-bg-color, #ffffff);
  --table-active-bg-color: var(--table-active-bg-color, #F8F9FC);
  --table-select-bg-color: var(--table-select-bg-color, rgba(225, 230, 241, 0.6));
  --input-box-color: var(--input-box-color, #ffffff);
  --title-fir-color: var(--title-fir-color, #666);
  --tree-select-bg-color: var(--tree-select-bg-color, #d2dae8);
  --question-txt-color: var(--question-txt-color, #1e2f67);
  --question-txt-bg-color: var(--question-txt-bg-color, rgba(95, 114, 167, 0.1764705882));
  --wait: var(--wait, #d3d3d3);
  --progress: var(--progress, #93c9fb);
  --approval: var(--approval, #61ea93);
  --return: var(--return, #fb7b6a);
  --each: var(--each, #ffd600);
}

html.dark-theme {
  --primx-color: #92a7b7;
  --top-color: #3c4043;
  --left-color: #27282b;
  --active-color: rgba(210, 221, 232, 0.4235294118);
  --home-color: #17181a;
  --button-color: #92a7b7;
  --hover-color: rgba(146, 167, 183, 0.8117647059);
  --login-lang-color: #29235C;
  --pop-bg-color: #17181a;
  --pop-head-color: #3c4043;
  --border-color: #191919;
  --border-active-color: #121314;
  --input-txt-bg-color: #43444b;
  --em-color: #3c4043;
  --tab-color: #17181a;
  --tab-active-color: #2c2d2f;
  --tooltip-color: rgba(146, 167, 183, 0.5803921569);
  --disable-bg-color: #3f3f41;
  --disable-font-color: #9c9c9c;
  --search-bg-color: #3c4043;
  --search-item-color: rgba(146, 167, 183, 0.337254902);
  --white-color: #000;
  --black-color: #dbdbdb;
  --pager-select-color: #92a7b7;
  --table-top-border: #29235C;
  --table-tr-td-border: #29235C;
  --table-head-bg-color: #3c4043;
  --table-body-bg-color: #2e2d2e;
  --table-active-bg-color: #7b848c;
  --table-select-bg-color: #585c5f;
  --input-box-color: #333439;
  --title-fir-color: #c1c1c1;
  --tree-select-bg-color: #D2DDE8;
  --question-txt-color: #ffffff;
  --question-txt-bg-color: rgba(146, 167, 183, 0.4274509804);
  --wait: #9c9c9c;
  --progress: #3b7bb8;
  --approval: #3aab64;
  --return: #c54736;
  --each: #d78e03;
}

/* page */
/* (사용자) 시스템 정보 */
.mySystemInfo .tableWrap {
  border-radius: 10px;
  overflow: hidden;
}

/* 9.설정 > 관리자 설정 */
.administratorSettings .search_wrap .search_condition ul li.line .item {
  width: 100%;
}
.administratorSettings .search_wrap .search_condition ul li.line .item .txtBox {
  width: calc(100% - 348px);
  margin-right: 0;
}

/* 10.설정 > 부서 및 사용자 설정 */
.departmentUserSettings .departUserSection, .approvalListPopup .departUserSection, .distributionPolicy .departUserSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 176px);
}
.departmentUserSettings .departUserSection .departmentArea, .approvalListPopup .departUserSection .departmentArea, .distributionPolicy .departUserSection .departmentArea {
  width: calc(28% - 20px);
  border-radius: 10px;
}
.departmentUserSettings .departUserSection .userArea, .approvalListPopup .departUserSection .userArea, .distributionPolicy .departUserSection .userArea {
  width: 72%;
  height: 100%;
  border-radius: 10px;
}
.departmentUserSettings .searchInnerWrap .searchBox input.searchInput, .approvalListPopup .searchInnerWrap .searchBox input.searchInput, .distributionPolicy .searchInnerWrap .searchBox input.searchInput {
  width: 130px;
}

.departTreeMap, .userBottom {
  width: 100%;
  height: calc(100vh - 235px);
  padding: 20px;
  background-color: rgba(181, 187, 197, 0.0784313725);
  border-radius: 10px;
  border: 1px solid var(--border-color, #cbcbcb);
  overflow: auto;
}

/* 10.설정 > 라이선스 */
.license .flexWrap {
  align-items: center;
  margin-bottom: 10px;
}
.license .flexWrap h3.contTitle {
  margin-bottom: 0;
}
.license .flexWrap .bu_wrap button {
  margin-left: 14px;
}

/* 정책 > 배포 정책 */
.distributionPolicy .checkWrap {
  width: auto !important;
}
.distributionPolicy .departTreeMap, .distributionPolicy .userBottom {
  height: calc(100vh - 174px);
}

/* 설정 > 부서 및 사용자 설정 */
.departmentUserSettings .checkWrap {
  width: auto !important;
}

/* 10.설정 > 인증 */
.certified .setWrap .line .item > div .itemDivision li label {
  margin-right: 10px;
}

/* 10.설정 > 운영 */
.operation .setWrap .line .item em {
  width: 170px;
}
.operation .setWrap .line .item > div {
  width: calc(100% - 170px);
}
.operation .setWrap .line .item > div .itemDivision li {
  width: 33.3333333333%;
}
.operation .setWrap .line .item > div .itemDivision li label {
  width: 140px;
}
.operation .setWrap .line .item > div .bu_wrap {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.operation .setWrap .line .item > div .bu_wrap button {
  margin-left: 7px;
}

/* 설정 > 업데이트 */
.update .inputFileWrap {
  width: calc(100% - 7px);
}
.update .tableWrap .bu_wrap {
  justify-content: start;
}
.update .tableWrap .bu_wrap button {
  width: 40px;
}

/* 설정 > 제품 정책 설정 */
.productPolicySettings .inputFileWrap {
  width: calc(100% - 7px);
}
.productPolicySettings .setWrap .line .item em {
  width: 440px;
}
.productPolicySettings .setWrap .line .item > div {
  width: calc(100% - 440px);
}

/* 설정 > 신청 및 결재 설정 */
.createRequestSetting .settingSection {
  width: 100%;
  padding: 20px;
  background-color: rgba(181, 187, 197, 0.0784313725);
  border-radius: 10px;
  border: 1px solid var(--border-color, #cbcbcb);
  overflow: auto;
}

/* popup */
/* 0.공통 > 검색(popup) */
.searchAreaPopup, .searchArea_p_Popup {
  z-index: 9999999999;
}
.searchAreaPopup .pop_wrap, .searchArea_p_Popup .pop_wrap {
  width: 709px;
}

/* 1.신청 및 결재 > 신청(popup) */
.createRequestPopup .deleteBtn {
  display: none !important;
}
.createRequestPopup .questionMark .questionTxt {
  left: -493px;
}
.createRequestPopup .setWrap .line .item .idCheck {
  width: calc(100% - 140px);
  display: flex;
}
.createRequestPopup .setWrap .line .item .idCheck .bu_wrap button {
  width: 100px;
  margin-left: 0;
}
.createRequestPopup .setWrap .line .item .useDate .txtBox {
  width: 160px;
}
.createRequestPopup .setWrap .line .item .useDate .txtBox:last-child {
  margin-right: 0;
}

.moveFileListSearchPopup {
  z-index: 99999;
}
.moveFileListSearchPopup .pop_wrap {
  width: 1551px;
}
.moveFileListSearchPopup .pop_cont {
  height: 600px;
}

/* 2.신청 및 결재 > 결재(popup) */
.createRequestViewPopup .setWrap .line .item .idCheck {
  width: calc(100% - 140px);
  display: flex;
}
.createRequestViewPopup .setWrap .line .item .idCheck .bu_wrap button {
  width: 100px;
  margin-left: 0;
}
.createRequestViewPopup .setWrap .line .item .useDate .txtBox {
  width: 160px;
}
.createRequestViewPopup .setWrap .line .item .useDate .txtBox:last-child {
  margin-right: 0;
}

.createRequestPopup .pop_wrap, .createRequestViewPopup .pop_wrap, .approvalListPopup .pop_wrap {
  width: 1401px;
  max-height: 91vh;
}
.createRequestPopup .pop_cont, .createRequestViewPopup .pop_cont, .approvalListPopup .pop_cont {
  height: 981px;
  /* .bu_wrap{position: absolute; top: 0; right: 14px;} */
}
.createRequestPopup .pop_cont .lineWrap, .createRequestViewPopup .pop_cont .lineWrap, .approvalListPopup .pop_cont .lineWrap {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  z-index: 9;
  flex-wrap: wrap;
  padding-left: 48px;
  position: relative;
  min-height: 105px;
}
.createRequestPopup .pop_cont .lineWrap li, .createRequestViewPopup .pop_cont .lineWrap li, .approvalListPopup .pop_cont .lineWrap li {
  width: 120px;
  height: 100px;
  background: var(--table-body-bg-color, #ffffff);
  border: 1px solid var(--border-color, #cbcbcb);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 8px;
}
.createRequestPopup .pop_cont .lineWrap li.dragging, .createRequestViewPopup .pop_cont .lineWrap li.dragging, .approvalListPopup .pop_cont .lineWrap li.dragging {
  opacity: 0.5;
  cursor: grabbing;
}
.createRequestPopup .pop_cont .lineWrap li.startLine, .createRequestViewPopup .pop_cont .lineWrap li.startLine, .approvalListPopup .pop_cont .lineWrap li.startLine {
  width: 40px;
  justify-content: center;
  background-color: var(--em-color, #d2dae8);
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 5px);
}
.createRequestPopup .pop_cont .lineWrap li .tit, .createRequestViewPopup .pop_cont .lineWrap li .tit, .approvalListPopup .pop_cont .lineWrap li .tit {
  border-radius: 10px;
  background: var(--em-color, #d2dae8);
  display: block;
  color: var(--black-color, #000);
  font-size: 13px;
  font-weight: 500;
  height: 20px;
}
.createRequestPopup .pop_cont .lineWrap li .info, .createRequestViewPopup .pop_cont .lineWrap li .info, .approvalListPopup .pop_cont .lineWrap li .info {
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.createRequestPopup .pop_cont .lineWrap li .info .result, .createRequestViewPopup .pop_cont .lineWrap li .info .result, .approvalListPopup .pop_cont .lineWrap li .info .result {
  font-weight: 600;
}
.createRequestPopup .pop_cont .lineWrap li .info .date, .createRequestViewPopup .pop_cont .lineWrap li .info .date, .approvalListPopup .pop_cont .lineWrap li .info .date {
  font-size: 13px;
  opacity: 0.7;
}
.createRequestPopup .pop_cont .lineWrap li.otherDiv, .createRequestViewPopup .pop_cont .lineWrap li.otherDiv, .approvalListPopup .pop_cont .lineWrap li.otherDiv {
  position: relative;
  margin-bottom: 5px;
}
.createRequestPopup .pop_cont .lineWrap li.otherDiv .deleteBtn, .createRequestViewPopup .pop_cont .lineWrap li.otherDiv .deleteBtn, .approvalListPopup .pop_cont .lineWrap li.otherDiv .deleteBtn {
  position: absolute;
  background: url(../../../../images/egovframework/com/primx/close_.svg) no-repeat center/20px var(--return, #fb7b6a);
  width: 29px;
  height: 29px;
  border-radius: 100%;
  right: 3px;
  top: 3px;
  border: 1px solid var(--border-color, #cbcbcb);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.createRequestPopup .pop_cont .lineWrap li.otherDiv:hover .deleteBtn, .createRequestViewPopup .pop_cont .lineWrap li.otherDiv:hover .deleteBtn, .approvalListPopup .pop_cont .lineWrap li.otherDiv:hover .deleteBtn {
  opacity: 1;
  visibility: visible;
}
.createRequestPopup .pop_cont .lineWrap li.otherDiv.editLi, .createRequestViewPopup .pop_cont .lineWrap li.otherDiv.editLi, .approvalListPopup .pop_cont .lineWrap li.otherDiv.editLi {
  cursor: grab;
}
.createRequestPopup .pop_cont .lineWrap li.addLineDiv, .createRequestViewPopup .pop_cont .lineWrap li.addLineDiv, .approvalListPopup .pop_cont .lineWrap li.addLineDiv {
  justify-content: center;
  border: 1px solid var(--button-color, #899bcf);
  transition: 0.3s ease;
  order: 9999;
}
.createRequestPopup .pop_cont .lineWrap li.addLineDiv:hover, .createRequestViewPopup .pop_cont .lineWrap li.addLineDiv:hover, .approvalListPopup .pop_cont .lineWrap li.addLineDiv:hover {
  background-color: rgba(210, 218, 232, 0.3137254902);
}
.createRequestPopup .pop_cont .lineWrap li.addLineDiv .registrationApprovalBtn, .createRequestViewPopup .pop_cont .lineWrap li.addLineDiv .registrationApprovalBtn, .approvalListPopup .pop_cont .lineWrap li.addLineDiv .registrationApprovalBtn {
  font-size: 30px;
  color: var(--button-color, #899bcf);
}

/* 신청 및 결재 > 신청 : 결재선 지정(popup) */
.approvalListPopup .pop_wrap {
  width: 1301px;
  max-height: 91vh;
}
.approvalListPopup .pop_cont {
  height: auto;
}
.approvalListPopup .pop_cont .departTreeMap, .approvalListPopup .pop_cont .userBottom {
  height: 685px;
}
.approvalListPopup .pop_cont .departUserSection {
  height: auto;
}
.approvalListPopup .pop_cont .departUserSection .departmentArea {
  width: calc(45% - 20px);
}
.approvalListPopup .pop_cont .departUserSection .userArea {
  width: 55%;
}

/* 2.신청 및 결재 > 결재 : 결재처리(popup) */
.approvalProcessPopup .pop_wrap {
  width: 601px;
}
.approvalProcessPopup .pop_cont {
  height: auto;
}
.approvalProcessPopup .pop_cont .setWrap {
  margin-bottom: 0;
}
.approvalProcessPopup .pop_cont .setWrap .appSelect {
  display: flex;
}
.approvalProcessPopup .pop_cont .setWrap .appSelect input[type=radio] {
  width: auto;
  margin: 0 15px;
}

/* 3.현황 > 시스템 현황(popup) */
.systemInformationPopup .pop_wrap {
  width: 1201px;
}
.systemInformationPopup .pop_cont {
  height: 712px;
  padding: 0 14px 14px 14px;
}

/* 3.현황 > 시스템 현황 : 시스템 종류(popup) */
.changeSystemTypePopup .pop_wrap {
  width: 501px;
}
.changeSystemTypePopup .pop_cont {
  height: auto;
}
.changeSystemTypePopup .pop_cont .setWrap {
  margin-bottom: 0;
}

/* 3.현황 > 시스템 현황 : 시스템 삭제(popup) */
.sysDelPopup .pop_wrap {
  width: 401px;
}
.sysDelPopup .pop_cont {
  height: auto;
}

/* 3.현황 > 시스템 현황 : 제품 정책 변경(popup) */
/* 3.현황 > 시스템 현황 : agent 정책 변경(popup) */
/* 5.현황 > Agent정책 현황 : 시스템현황(popup) */
/* 5.현황 > Agent정책 현황 : 시스템현황 > 시스템 추가(popup) */
.policyChangePopup .pop_wrap, .agentChangePopup .pop_wrap, .agnSysStatusPopup .pop_wrap, .agnSysStatusAddPopup .pop_wrap, .polSysStatusPopup .pop_wrap, .polSysStatusAddPopup .pop_wrap {
  width: 1401px;
}
.policyChangePopup .pop_cont > .selectBox, .agentChangePopup .pop_cont > .selectBox, .agnSysStatusPopup .pop_cont > .selectBox, .agnSysStatusAddPopup .pop_cont > .selectBox, .polSysStatusPopup .pop_cont > .selectBox, .polSysStatusAddPopup .pop_cont > .selectBox {
  width: 300px;
  margin-bottom: 20px;
}
.policyChangePopup .searchInnerWrap_onlySc .searchBox, .agentChangePopup .searchInnerWrap_onlySc .searchBox, .agnSysStatusPopup .searchInnerWrap_onlySc .searchBox, .agnSysStatusAddPopup .searchInnerWrap_onlySc .searchBox, .polSysStatusPopup .searchInnerWrap_onlySc .searchBox, .polSysStatusAddPopup .searchInnerWrap_onlySc .searchBox {
  width: 100%;
}
.policyChangePopup .searchInnerWrap_onlySc .searchBox .searchInput, .agentChangePopup .searchInnerWrap_onlySc .searchBox .searchInput, .agnSysStatusPopup .searchInnerWrap_onlySc .searchBox .searchInput, .agnSysStatusAddPopup .searchInnerWrap_onlySc .searchBox .searchInput, .polSysStatusPopup .searchInnerWrap_onlySc .searchBox .searchInput, .polSysStatusAddPopup .searchInnerWrap_onlySc .searchBox .searchInput {
  width: 490px;
  cursor: auto;
}

/* 3.현황 > 시스템 현황 : 제품 이력 현황(popup) */
/* 3.현황 > 시스템 현황 : 이동 파일 현황(popup) */
.productHistoryPopup .pop_wrap, .moveFileHistoryPopup .pop_wrap {
  width: 1701px;
}

/* 3.현황 > 시스템 현황 : 이동 파일 현황 > 상세정보(popup) */
.moveFileHistoryViewPopup .pop_wrap {
  width: 1201px;
}
.moveFileHistoryViewPopup .pop_cont {
  padding: 0 14px 14px 14px;
  height: 801px;
}
.moveFileHistoryViewPopup .pop_cont .moveFileTabWrap .tabCont {
  height: 445px;
}

/* 5.현황 > Agent정책 현황(popup) */
.agentStatusViewPopup .pop_wrap {
  width: 901px;
}
.agentStatusViewPopup .pop_cont {
  height: 885px;
}
.agentStatusViewPopup .pop_cont .systabWrap .tabCont {
  height: 467px;
}

/* 5.현황 > Agent정책 현황 : 등록(popup) */
/* 5.현황 > Agent정책 현황 : 정책 복사(popup) */
.agnAddPopup .pop_wrap, .agnCopyPopup .pop_wrap {
  width: 901px;
}
.agnAddPopup .pop_cont, .agnCopyPopup .pop_cont {
  height: 805px;
}
.agnAddPopup .pop_cont .edittabWrap .tabCont, .agnAddPopup .pop_cont .addtabWrap .tabCont, .agnAddPopup .pop_cont .copytabWrap .tabCont, .agnCopyPopup .pop_cont .edittabWrap .tabCont, .agnCopyPopup .pop_cont .addtabWrap .tabCont, .agnCopyPopup .pop_cont .copytabWrap .tabCont {
  height: 467px;
}
.agnAddPopup .pop_cont .edittabWrap .tabCont .setWrap .line .item .em100Per, .agnAddPopup .pop_cont .addtabWrap .tabCont .setWrap .line .item .em100Per, .agnAddPopup .pop_cont .copytabWrap .tabCont .setWrap .line .item .em100Per, .agnCopyPopup .pop_cont .edittabWrap .tabCont .setWrap .line .item .em100Per, .agnCopyPopup .pop_cont .addtabWrap .tabCont .setWrap .line .item .em100Per, .agnCopyPopup .pop_cont .copytabWrap .tabCont .setWrap .line .item .em100Per {
  width: 100%;
}

/* 5.현황 > Agent정책 현황 : 삭제(popup) */
.agnDelPopup .pop_wrap, .polDelPopup .pop_wrap {
  width: 401px;
}
.agnDelPopup .pop_cont, .polDelPopup .pop_cont {
  height: auto;
}

/* 5.현황 > Agent정책 현황 : 기본정책적용(popup) */
.defaultChangePopup .pop_wrap {
  width: 401px;
}
.defaultChangePopup .pop_cont {
  height: auto;
}

/* 5.현황 > Agent정책 현황 : 시스템현황(popup) */
.agnSysStatusPopup .pop_wrap, .polSysStatusPopup .pop_wrap {
  width: 1701px;
}
.agnSysStatusPopup .pop_cont, .polSysStatusPopup .pop_cont {
  height: 701px;
}

/* 5.현황 > Agent정책 현황 : 시스템현황 > 시스템 추가(popup) */
.agnSysStatusAddPopup .pop_wrap, .polSysStatusAddPopup .pop_wrap {
  width: 1651px;
}
.agnSysStatusAddPopup .pop_cont, .polSysStatusAddPopup .pop_cont {
  height: 651px;
}

/* 5.현황 > Agent정책 현황 : 시스템현황 > 시스템 제거(popup) */
.agnSysDelPopup .pop_wrap, .polSysDelPopup .pop_wrap {
  width: 401px;
}
.agnSysDelPopup .pop_cont, .polSysDelPopup .pop_cont {
  height: auto;
}

/* 7.이력 > 제품이력(popup) */
.productHistoryViewPopup .pop_wrap {
  width: 901px;
}
.productHistoryViewPopup .pop_cont {
  height: auto;
  padding: 0 14px 14px 14px;
}

/* 8.이력 > 운영이력(popup) */
.operationHistoryViewPopup .pop_wrap {
  width: 901px;
}
.operationHistoryViewPopup .pop_cont {
  height: auto;
  padding: 0 14px 14px 14px;
}

/* 정책 > 배포 정책 (popup) */
.distributionPolicyPopup .pop_wrap {
  width: 733px;
}
.distributionPolicyPopup .pop_cont {
  height: auto;
}
.distributionPolicyPopup .pop_cont .setWrap .line .item > div input {
  width: 160px;
}

/* 9.설정 > 관리자 설정(popup) */
.administratorSettingsPopup .pop_wrap, .userAddPopup .pop_wrap, .userModifyPopup .pop_wrap, .departAddPopup .pop_wrap {
  width: 735px;
}
.administratorSettingsPopup .pop_cont, .userAddPopup .pop_cont, .userModifyPopup .pop_cont, .departAddPopup .pop_cont {
  height: auto;
}
.administratorSettingsPopup .pop_cont .setWrap .line .item .idCheck, .userAddPopup .pop_cont .setWrap .line .item .idCheck, .userModifyPopup .pop_cont .setWrap .line .item .idCheck, .departAddPopup .pop_cont .setWrap .line .item .idCheck {
  width: calc(100% - 140px);
  display: flex;
}
.administratorSettingsPopup .pop_cont .setWrap .line .item .idCheck .bu_wrap button, .userAddPopup .pop_cont .setWrap .line .item .idCheck .bu_wrap button, .userModifyPopup .pop_cont .setWrap .line .item .idCheck .bu_wrap button, .departAddPopup .pop_cont .setWrap .line .item .idCheck .bu_wrap button {
  width: 100px;
  margin-left: 0;
}
.administratorSettingsPopup .pop_cont .setWrap .line .item .adminLevel .selectBox, .userAddPopup .pop_cont .setWrap .line .item .adminLevel .selectBox, .userModifyPopup .pop_cont .setWrap .line .item .adminLevel .selectBox, .departAddPopup .pop_cont .setWrap .line .item .adminLevel .selectBox {
  width: 100%;
}
.administratorSettingsPopup .pop_cont .setWrap .line .item .useDate .txtBox, .userAddPopup .pop_cont .setWrap .line .item .useDate .txtBox, .userModifyPopup .pop_cont .setWrap .line .item .useDate .txtBox, .departAddPopup .pop_cont .setWrap .line .item .useDate .txtBox {
  width: 160px;
}
.administratorSettingsPopup .pop_cont .setWrap .line .item .useDate .txtBox:last-child, .userAddPopup .pop_cont .setWrap .line .item .useDate .txtBox:last-child, .userModifyPopup .pop_cont .setWrap .line .item .useDate .txtBox:last-child, .departAddPopup .pop_cont .setWrap .line .item .useDate .txtBox:last-child {
  margin-right: 0;
}
.administratorSettingsPopup .pop_cont .addIp, .userAddPopup .pop_cont .addIp, .userModifyPopup .pop_cont .addIp, .departAddPopup .pop_cont .addIp {
  margin-bottom: 10px;
  align-items: center;
}
.administratorSettingsPopup .pop_cont .addIp > div, .userAddPopup .pop_cont .addIp > div, .userModifyPopup .pop_cont .addIp > div, .departAddPopup .pop_cont .addIp > div {
  display: flex;
  align-items: center;
}
.administratorSettingsPopup .pop_cont .addIp > div input, .userAddPopup .pop_cont .addIp > div input, .userModifyPopup .pop_cont .addIp > div input, .departAddPopup .pop_cont .addIp > div input {
  margin-right: 5px;
}
.administratorSettingsPopup .pop_cont .addIp .bu_wrap, .userAddPopup .pop_cont .addIp .bu_wrap, .userModifyPopup .pop_cont .addIp .bu_wrap, .departAddPopup .pop_cont .addIp .bu_wrap {
  height: 30px;
}
.administratorSettingsPopup .pop_cont .addIp .bu_wrap button, .userAddPopup .pop_cont .addIp .bu_wrap button, .userModifyPopup .pop_cont .addIp .bu_wrap button, .departAddPopup .pop_cont .addIp .bu_wrap button {
  width: 50px;
  margin-left: 6px;
}
.administratorSettingsPopup .pop_cont .tableWrap .flexWrap, .userAddPopup .pop_cont .tableWrap .flexWrap, .userModifyPopup .pop_cont .tableWrap .flexWrap, .departAddPopup .pop_cont .tableWrap .flexWrap {
  justify-content: space-between;
}

/* 9.설정 > 관리자 설정 : 관리자 삭제(popup) */
.adminDeletePopup .pop_wrap {
  width: 401px;
}
.adminDeletePopup .pop_cont {
  height: auto;
}

/* 9.설정 > 관리자 설정 : 패스워드 초기화(popup) */
.passwordResetPopup .pop_wrap {
  width: 401px;
}
.passwordResetPopup .pop_cont {
  height: auto;
}

/* 10.설정 > 부서 및 사용자 설정 : 사용자 수정(popup) */
.userModifyPopup .pop_wrap {
  width: 735px;
}

/* 10.설정 > 부서 및 사용자 설정 : 사용자 등록(popup) */
.userAddPopup .pop_wrap {
  width: 735px;
}
.userAddPopup .ipTable input.minInput {
  height: 30px;
}

/* 10.설정 > 부서 및 사용자 설정 : 사용자 등록 > 부서 선택(popup) */
.departSelectPopup {
  z-index: 99999999;
}
.departSelectPopup .pop_wrap {
  width: 601px;
}
.departSelectPopup .pop_cont {
  height: 535px;
}
.departSelectPopup .pop_cont .setWrap {
  margin-bottom: 0;
}
.departSelectPopup .pop_cont .departTreeMap {
  height: 465px;
}
.departSelectPopup .searchInnerWrap_p .searchBox {
  width: 100%;
}
.departSelectPopup .searchInnerWrap_p .searchBox .searchInput {
  width: 100%;
  margin-right: 0;
  cursor: auto;
}

/* 10.설정 > 부서 및 사용자 설정 : 사용자 삭제(popup) */
.userDeletePopup .pop_wrap {
  width: 401px;
}
.userDeletePopup .pop_cont {
  height: auto;
}

/* 10.설정 > 부서 및 사용자 설정 : 부서 등록(popup) */
.departAddPopup .pop_wrap {
  width: 593px;
}
.departAddPopup .setWrap {
  margin-bottom: 0;
}

/* 10.설정 > 부서 및 사용자 설정 : 부서 수정(popup) */
.departModifyPopup .pop_wrap {
  width: 593px;
}
.departModifyPopup .pop_cont {
  height: auto;
}
.departModifyPopup .pop_cont .setWrap {
  margin-bottom: 0;
}

/* 10.설정 > 부서 및 사용자 설정 : 부서 삭제(popup) */
.departDeletePopup .pop_wrap {
  width: 401px;
}
.departDeletePopup .pop_cont {
  height: auto;
}

/* 10.설정 > 라이선스 : 라이선스 등록 */
.licenseRegiPopup .pop_wrap {
  width: 500px;
}
.licenseRegiPopup .pop_cont {
  height: auto;
}

/* 상단 설정 > 라이선스 */
.topSetPopup .pop_wrap {
  width: 1541px;
}
.topSetPopup .pop_cont {
  height: 771px;
}
.topSetPopup .pop_cont .settabWrap .tabCont {
  height: 657px;
}
.topSetPopup .license .flexWrap {
  align-items: center;
  margin-bottom: 10px;
}
.topSetPopup .license .flexWrap h3.contTitle {
  margin-bottom: 0;
}
.topSetPopup .license .flexWrap .bu_wrap button {
  margin-left: 14px;
}

/* 설정 > 파일전송 Zone 설정 (popup) */
.addFileTransferZonePopup .pop_wrap {
  width: 841px;
}
.addFileTransferZonePopup .pop_cont {
  height: 600px;
}
.addFileTransferZonePopup .pop_cont .fileZoneTabWrap .tabCont {
  height: 361px;
}

/* 프로필 설정 팝업 */
.profilePopup .pop_wrap {
  width: 841px;
}
.profilePopup .pop_cont {
  height: auto;
}
.profilePopup .pop_cont .setWrap .line em {
  width: 200px;
}
.profilePopup .pop_cont .setWrap .line .item .bu_wrap {
  width: 161px;
}

/* 비밀번호 변경 팝업 */
.changePasswordPopup .pop_wrap {
  width: 441px;
}
.changePasswordPopup .pop_cont {
  height: auto;
}
.changePasswordPopup .pop_cont ul li {
  position: relative;
  margin-bottom: 10px;
}
.changePasswordPopup .pop_cont ul li .txtBox {
  width: 100%;
  padding-right: 50px;
}
.changePasswordPopup .pop_cont ul li .pwViewBtn {
  right: 15px;
}/*# sourceMappingURL=css.css.map */